.body{
    background-color: lavender;
}

.container1{
    width: 100%;
    background-color: rgb(11, 37, 62);
    color: white;
}

.fila--margen{
    margin: 0;
}

.fila__columna--aspecto{
    /* margin: 2px; */
    border: solid 1px black;
    
}


.footer__imagen--aspecto{
    width: 100%;
}

.h1--aspecto{
    text-decoration: underline;
color: blue;
font-size: 20px;
}

.h2--aspecto{
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

.h1__columnatres--aspecto{
    text-align: center;
    font-size: 20px;
    background-color: blue;
    color: white;

}

.table{
    border: 1px solid black;
    margin: 2em 0em 0em 0em ;
}


tr td{

    padding: .2em .8em;
    border: 1px solid black;
    background: rgba(90,156,255,0.25);
    text-align: left;
}

.botones--aspecto{
    
    display: block;
    list-style-type: none;
}

li{
    
    display: inline-block;
}